Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
argparse==1.2.1
gunicorn==18.0
httplib2==0.9
ipython==2.1.0
itsdangerous==0.24
plivo==0.9.6
requests==2.3.0
sendgrid==0.5.1
six==1.6.1
smtpapi==0.1.2
twilio==3.6.6
unittest2==0.5.1
wsgiref==0.1.2
