{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="en" {% endblock %} 

{% block html %}
<!-- <!DOCTYPE html>  -->
{% block metas %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">	
{% endblock %}

{% block styles %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link href="../static/site.css" type="text/css" rel="stylesheet">
	<link href="../static/table.css" type="text/css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

  <h1>Sent Messages</h1>
  <table class="table-fill">
	  <thead>
		  <tr>
			  <th class="text-left">Message ID</th>
			  <th class="text-left">Message Content</th>
			  <th class="text-left">Time Sent</th>
			  <th class="text-left">Sent From</th>
			  <th class="text-left">Sent To</th>
		  </tr>
	  </thead>
	  <tbody class="table-hover">
			{% for message in messages %}
				<tr>
					<td>{{message.id}}</td>
					<td>{{message.text}}</td>
					<td>{{message.time_sent}}</td>
					<td>{{message.from_number}}</td>
					<td>{{message.to_number}}</td>
				</tr>
			{% endfor %}
	  </tbody> 
	</table>

{% endblock %}
{% endblock %}

{% block head %}
	{{super()}}
	{{fixes.ie8()}}
{% endblock %}
